*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    /* border: 1px solid pink; */
}




#grid_wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    background: orange;


    grid-template-areas:
    "rub im1 mu1 ab1 im2"
    "bur bur bur bur bur";


    grid-template-columns: 5fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 10vh, 90vh;

    
}

#rubrik{
    grid-area: rub;
    font-size: 4rem;
}
#image1{
    display: flex;
    grid-area: im1;
    width: 80px;
    height: auto;

    justify-content: center;
    align-content: center;
}
#menu{
    grid-area: mu1;
}

#menuin{
    display: flex;
    border: solid darkred;

    justify-content: center;
    align-content: center;
}
#about{ 
    grid-area: ab1; 
}

#aboutin{
    display: flex;
    border: solid darkred;

    justify-content: center;
    align-content: center;
}
#image2{
    display: flex;
    width: 80px;
    height: auto;
    grid-area: im2;
    justify-content: center;
    align-content: center;
    
}

#burgerbackground{
    grid-area: bur;
    width: 100vw;
    height: auto;
}