*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    /* border: 1px solid pink; */
}

/* 
x) GÖRA MENU / ABOUT I MITTEN
x) GÖRA VENGEFUL BURGERS JUSTERBAR
*/
h2{
    font-size: 1.7rem;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(83, 0, 0, 0.767);
    color: white;
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
}
   
#grid_wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
   


    grid-template-areas:
    "headr"
    "burger";


    grid-template-columns: minmax(1200px, 1fr);
    grid-template-rows: minmax(80px, 10fr) 90fr;

    background: url("../img/correctholdingburger.png");

    
}



#burgerbackground{
    grid-area: burger;
}

#burgartext{
    font-size: 3.5rem;
    color: white;
    margin: 30px;
    padding: 20px;
}

header{
    /* height: 10vh; */
    grid-area: headr;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    border: solid black 0.5vh;
    background: rgba(255, 255, 255, 0.363);
}

#rubrik{
    font-size: 4rem;
    color: black;
}
#image1{
    display: flex;
    width: 70px;
    height: auto;

    justify-content: center;
    align-content: center;
}
#menu{
    display: flex;
    width: 130px;
    /* background: orange; */
    align-content: center;
    justify-content: center;
}

#menuin{
    display: flex;
    border: solid darkred; 
    background: rgba(0, 0, 0, 0.61);
    color: white;
    height: 40px;
    width: 115px;
    justify-content: center;
    


  
}
#about{ 
    display: flex;
    align-content: center;
    justify-content: center;
    width: 130px;   
}

#aboutin{
    display: flex;
    border: solid darkred; 
    background: rgba(0, 0, 0, 0.61);
    color: white;
    height: 40px;
    width: 115px;
    justify-content: center;


   
}
#image2{
    display: flex;
    width: 70px;
    height: auto;
    justify-content: center;
    align-content: center;
    
}

#meny{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#aboutin:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.91);
}

#menuin:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.91);
}

#rubrik:hover{
    cursor: pointer;
    background: rgba(134, 0, 0, 0.31);
    border-radius: 10px;
}


a{
    text-decoration: none;
}

#aroundall{
    background:  rgb(187, 187, 187);
    background: url("../img/mountains.jpg");
    background-size: 100vw;
}

#about_grid_wrapper{
    display: grid;
    width: 98.9vw;
    height: 100vh;

    grid-template-areas:
    "heada heada heada"
    "blank blank plats"
    "imag1 text1 plats"
    "imag2 text2 plats";



    grid-template-columns: minmax(500px, 2fr) minmax(600px, 3fr) minmax(200px, 2fr);
    grid-template-rows: minmax(80px, 6.5fr) minmax(30px, 5fr) minmax(250px, 30fr) minmax(250px, 30fr);


}

#locations{
    display: flex;
    grid-area: plats;
    height: 80vh;
    width: 20vw;
    background: rgba(255, 255, 255, 0.814);
    border-radius: 10px;
    justify-content: center;
    align-content: center; 
    margin: 40px;   

    font-size: 1rem;
}


#im1{
    grid-area: imag1;
    width: 440px;
    height: auto;
    border: 4px solid black;
    border-radius: 2px;
}

#im2{
    grid-area: imag2;
    width: 440px;
    height: auto;
    border: 4px solid black;
    border-radius: 2px;
}

#imt1{
    grid-area: text1;
    width: 600px;
    background: rgba(255, 255, 255, 0.814);
    border-radius: 10px;
    height: 150px;
}

#imt2{
    grid-area: text2;
    width: 600px;
    background: rgba(255, 255, 255, 0.814);
    border-radius: 10px;
    height: 250px;
}

#aboutheader{
    /* height: 10vh; */
    grid-area: heada;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    border: solid black 0.5vh;
    background: rgba(212, 212, 212, 0.767);
}


/* STYLING FÖR MENU */

#menu_grid_wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-areas:
    "headerr headerr headerr"
    "burger1 burger2 burger3"
    "customt customt customt";
    /* background: rgb(141, 141, 141); */
    background: url("../img/rainybackground.jpg");
    background-size: 100vw;

    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr) minmax(400px, 1fr);
    grid-template-rows: minmax(85px, 7.7fr) minmax(450px, 67fr) minmax(150px, 10fr);


}

/* burger */
.burgertext{
    display: flex;
    justify-content: center;
    height: 50px; 
    margin: 20px;
    font-size: 2.2rem;

}

.burgerimage{
    border: solid 4px black;
    border-radius: 10px;
    width: 250px;
    height: auto;
}

.burgerdescription{
    border: 2px solid black;
    margin: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.582);
}

.burgerimgwrapper{
    display: flex;
    justify-content: center;
}

/* grid areas */

#cheeseburger{
    grid-area: burger1;
}

#baconburger{
    grid-area: burger2;
}

#crunchburger{
    grid-area: burger3;
}


#customtext{
    grid-area: customt;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    height: 60px;
    border: 4px black solid;
}


#menuheader{
    height: 80px;
    grid-area: headerr;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    border: solid black 0.5vh;
    background: rgba(212, 212, 212, 0.767);
}