*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    /* border: 1px solid pink; */
}

/* 
x) GÖRA MENU / ABOUT I MITTEN
x) GÖRA VENGEFUL BURGERS JUSTERBAR
*/

   
#grid_wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
   


    grid-template-areas:
    "headr"
    "burger";


    grid-template-columns: minmax(800px, 1fr);
    grid-template-rows: minmax(80px, 10fr) 90fr;

    background: url("../img/correctholdingburger.png");

    
}

#burgerbackground{
    grid-area: burger;
}

#burgartext{
    font-size: 3.5rem;
    color: white;
    margin: 30px;
    padding: 20px;
}

header{
    /* height: 10vh; */
    grid-area: headr;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    border: solid black 0.5vh;
    background: rgba(255, 255, 255, 0.363);
}

#rubrik{
    font-size: 4rem;
    color: black;
}
#image1{
    display: flex;
    width: 70px;
    height: auto;

    justify-content: center;
    align-content: center;
}
#menu{
    display: flex;
    width: 130px;
    /* background: orange; */
    align-content: center;
    justify-content: center;
}

#menuin{
    display: flex;
    border: solid darkred; 
    background: rgba(0, 0, 0, 0.61);
    color: white;
    height: 35px;
    width: 110px;
    justify-content: center;


  
}
#about{ 
    display: flex;
    align-content: center;
    justify-content: center;
    width: 130px;   
}

#aboutin{
    display: flex;
    border: solid darkred; 
    background: rgba(0, 0, 0, 0.61);
    color: white;
    height: 35px;
    width: 110px;
    justify-content: center;


   
}
#image2{
    display: flex;
    width: 70px;
    height: auto;
    justify-content: center;
    align-content: center;
    
}

#meny{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#aboutin:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.91);
}

#menuin:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.91);
}

#rubrik:hover{
    cursor: pointer;
    background: rgba(134, 0, 0, 0.31);
    border-radius: 10px;
}


a{
    text-decoration: none;
}

#about_grid_wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-areas:
    "headr headr"
    "btext btext"
    "imag1 text1"
    "imag2 text2";


    grid-template-columns: minmax(400px, 1fr) minmax(800px, 2fr);
    grid-template-rows: minmax(80px, 1fr) minmax(100px, 1.5fr) minmax(150px, 3fr) minmax(150px, 3fr);


}



